<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>138.33.0.157554</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {612, 792}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>2</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2012-10-31 14:34:45 +0000</string>
	<key>Creator</key>
	<string>Jonathon Hare</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{45.357849, 50.750092}, {196.55679, 86.046272}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>150</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{416.10083, 53.936966}, {156.15816, 79.672508}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>72</real>
			</dict>
			<key>ID</key>
			<integer>8</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>2</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qr

\f0\fs42 \cf0 Jonathon Hare\
Sina Samangooei\
David Dupplaw}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{331.43762, 655.20361}, {241.14218, 86.046272}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>72</real>
			</dict>
			<key>ID</key>
			<integer>7</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>2</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qr

\f0\fs142 \cf0 Tutorial}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{454.66446, 454.42902}, {117.91532, 86.046272}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TimesNewRomanPSMT</string>
				<key>Size</key>
				<real>72</real>
			</dict>
			<key>ID</key>
			<integer>6</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>2</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qr

\f0\fs142 \cf0 The}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{123.2269, 540.4751}, {449.35309, 114.72842}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>5</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>2</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\froman\fcharset0 TimesNewRomanPSMT;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qr

\f0\fs188 \cf1 OpenIMAJ}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{0, 540.4751}, {611.88501, 114.72842}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>TeXGyreBonum-Italic</string>
				<key>Size</key>
				<real>94</real>
			</dict>
			<key>ID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.495214</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0.077821</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{7.6293945e-05, 178}, {476.03693, 563.24994}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>151</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>5</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict>
			<key>ApplicationURL</key>
			<string>http://www.omnigroup.com/applications/OmniGraffle</string>
			<key>appData</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>1</string>
				</dict>
				<key>DocumentSettings</key>
				<dict>
					<key>ApplicationVersion</key>
					<array>
						<string>com.omnigroup.OmniGrafflePro</string>
						<string>138.33.0.157554</string>
					</array>
					<key>CreationDate</key>
					<string>2012-10-31 14:34:45 +0000</string>
					<key>Creator</key>
					<string>Jonathon Hare</string>
					<key>FileName</key>
					<string>Untitled</string>
					<key>GraphDocumentVersion</key>
					<integer>8</integer>
					<key>ModelCount</key>
					<integer>1</integer>
					<key>ModelIndex</key>
					<integer>0</integer>
					<key>ModificationDate</key>
					<string>2012-10-31 14:53:36 +0000</string>
					<key>Modifier</key>
					<string>Jonathon Hare</string>
					<key>SheetTitle</key>
					<string>Canvas 1</string>
				</dict>
				<key>GraphicsList</key>
				<array>
					<dict>
						<key>Class</key>
						<string>Group</string>
						<key>Graphics</key>
						<array>
							<dict>
								<key>Bounds</key>
								<string>{{645.80823, 180.034}, {44.091301, 45.513699}}</string>
								<key>Class</key>
								<string>ShapedGraphic</string>
								<key>ID</key>
								<integer>135</integer>
								<key>Shape</key>
								<string>Circle</string>
								<key>Style</key>
								<dict>
									<key>fill</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>a</key>
											<string>0.75</string>
											<key>b</key>
											<string>0.501961</string>
											<key>g</key>
											<string>0.25098</string>
											<key>r</key>
											<string>0</string>
										</dict>
									</dict>
									<key>shadow</key>
									<dict>
										<key>Draws</key>
										<string>NO</string>
									</dict>
									<key>stroke</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>b</key>
											<string>0.501961</string>
											<key>g</key>
											<string>0.25098</string>
											<key>r</key>
											<string>0</string>
										</dict>
										<key>Draws</key>
										<string>NO</string>
										<key>Width</key>
										<real>5</real>
									</dict>
								</dict>
							</dict>
							<dict>
								<key>Bounds</key>
								<string>{{731.83026, 200.548}, {30, 30}}</string>
								<key>Class</key>
								<string>ShapedGraphic</string>
								<key>ID</key>
								<integer>136</integer>
								<key>Rotation</key>
								<real>1.5325851440429688</real>
								<key>Shape</key>
								<string>Circle</string>
								<key>Style</key>
								<dict>
									<key>fill</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>a</key>
											<string>0.8</string>
											<key>b</key>
											<string>0.501961</string>
											<key>g</key>
											<string>0.25098</string>
											<key>r</key>
											<string>0</string>
										</dict>
									</dict>
									<key>shadow</key>
									<dict>
										<key>Draws</key>
										<string>NO</string>
									</dict>
									<key>stroke</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>b</key>
											<string>0.501961</string>
											<key>g</key>
											<string>0.25098</string>
											<key>r</key>
											<string>0</string>
										</dict>
										<key>Draws</key>
										<string>NO</string>
										<key>Width</key>
										<real>5</real>
									</dict>
								</dict>
							</dict>
							<dict>
								<key>Bounds</key>
								<string>{{803.76025, 205.548}, {18.34, 20}}</string>
								<key>Class</key>
								<string>ShapedGraphic</string>
								<key>ID</key>
								<integer>137</integer>
								<key>Shape</key>
								<string>Circle</string>
								<key>Style</key>
								<dict>
									<key>fill</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>a</key>
											<string>0.85</string>
											<key>b</key>
											<string>0.501961</string>
											<key>g</key>
											<string>0.25098</string>
											<key>r</key>
											<string>0</string>
										</dict>
									</dict>
									<key>shadow</key>
									<dict>
										<key>Draws</key>
										<string>NO</string>
									</dict>
									<key>stroke</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>b</key>
											<string>0.501961</string>
											<key>g</key>
											<string>0.25098</string>
											<key>r</key>
											<string>0</string>
										</dict>
										<key>Draws</key>
										<string>NO</string>
										<key>Width</key>
										<real>5</real>
									</dict>
								</dict>
							</dict>
							<dict>
								<key>Bounds</key>
								<string>{{858.90527, 200.883}, {11.004, 12}}</string>
								<key>Class</key>
								<string>ShapedGraphic</string>
								<key>ID</key>
								<integer>138</integer>
								<key>Shape</key>
								<string>Circle</string>
								<key>Style</key>
								<dict>
									<key>fill</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>a</key>
											<string>0.9</string>
											<key>b</key>
											<string>0.501961</string>
											<key>g</key>
											<string>0.25098</string>
											<key>r</key>
											<string>0</string>
										</dict>
									</dict>
									<key>shadow</key>
									<dict>
										<key>Draws</key>
										<string>NO</string>
									</dict>
									<key>stroke</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>b</key>
											<string>0.501961</string>
											<key>g</key>
											<string>0.25098</string>
											<key>r</key>
											<string>0</string>
										</dict>
										<key>Draws</key>
										<string>NO</string>
										<key>Width</key>
										<real>5</real>
									</dict>
								</dict>
							</dict>
							<dict>
								<key>Bounds</key>
								<string>{{888.79626, 183.38901}, {7.40978, 8.0804596}}</string>
								<key>Class</key>
								<string>ShapedGraphic</string>
								<key>ID</key>
								<integer>139</integer>
								<key>Shape</key>
								<string>Circle</string>
								<key>Style</key>
								<dict>
									<key>fill</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>a</key>
											<string>0.95</string>
											<key>b</key>
											<string>0.501961</string>
											<key>g</key>
											<string>0.25098</string>
											<key>r</key>
											<string>0</string>
										</dict>
									</dict>
									<key>shadow</key>
									<dict>
										<key>Draws</key>
										<string>NO</string>
									</dict>
									<key>stroke</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>b</key>
											<string>0.501961</string>
											<key>g</key>
											<string>0.25098</string>
											<key>r</key>
											<string>0</string>
										</dict>
										<key>Draws</key>
										<string>NO</string>
										<key>Width</key>
										<real>5</real>
									</dict>
								</dict>
							</dict>
							<dict>
								<key>Bounds</key>
								<string>{{887.33325, 158.679}, {4.8794098, 5.3210502}}</string>
								<key>Class</key>
								<string>ShapedGraphic</string>
								<key>ID</key>
								<integer>140</integer>
								<key>Shape</key>
								<string>Circle</string>
								<key>Style</key>
								<dict>
									<key>fill</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>b</key>
											<string>0.501961</string>
											<key>g</key>
											<string>0.25098</string>
											<key>r</key>
											<string>0</string>
										</dict>
									</dict>
									<key>shadow</key>
									<dict>
										<key>Draws</key>
										<string>NO</string>
									</dict>
									<key>stroke</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>b</key>
											<string>0.501961</string>
											<key>g</key>
											<string>0.25098</string>
											<key>r</key>
											<string>0</string>
										</dict>
										<key>Draws</key>
										<string>NO</string>
										<key>Width</key>
										<real>5</real>
									</dict>
								</dict>
							</dict>
							<dict>
								<key>Bounds</key>
								<string>{{616.92725, 29.924999}, {44.091301, 45.513699}}</string>
								<key>Class</key>
								<string>ShapedGraphic</string>
								<key>ID</key>
								<integer>141</integer>
								<key>Shape</key>
								<string>Circle</string>
								<key>Style</key>
								<dict>
									<key>fill</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>a</key>
											<string>0.75</string>
											<key>b</key>
											<string>0.501961</string>
											<key>g</key>
											<string>0.25098</string>
											<key>r</key>
											<string>0</string>
										</dict>
									</dict>
									<key>shadow</key>
									<dict>
										<key>Draws</key>
										<string>NO</string>
									</dict>
									<key>stroke</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>b</key>
											<string>0.501961</string>
											<key>g</key>
											<string>0.25098</string>
											<key>r</key>
											<string>0</string>
										</dict>
										<key>Draws</key>
										<string>NO</string>
										<key>Width</key>
										<real>5</real>
									</dict>
								</dict>
							</dict>
							<dict>
								<key>Bounds</key>
								<string>{{430.99997, 73.362}, {7.40978, 8.0804596}}</string>
								<key>Class</key>
								<string>ShapedGraphic</string>
								<key>ID</key>
								<integer>142</integer>
								<key>Shape</key>
								<string>Circle</string>
								<key>Style</key>
								<dict>
									<key>fill</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>a</key>
											<string>0.95</string>
											<key>b</key>
											<string>0.501961</string>
											<key>g</key>
											<string>0.25098</string>
											<key>r</key>
											<string>0</string>
										</dict>
									</dict>
									<key>shadow</key>
									<dict>
										<key>Draws</key>
										<string>NO</string>
									</dict>
									<key>stroke</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>b</key>
											<string>0.501961</string>
											<key>g</key>
											<string>0.25098</string>
											<key>r</key>
											<string>0</string>
										</dict>
										<key>Draws</key>
										<string>NO</string>
										<key>Width</key>
										<real>5</real>
									</dict>
								</dict>
							</dict>
							<dict>
								<key>Bounds</key>
								<string>{{441.86768, 101.9722}, {4.8794098, 5.3210502}}</string>
								<key>Class</key>
								<string>ShapedGraphic</string>
								<key>ID</key>
								<integer>143</integer>
								<key>Shape</key>
								<string>Circle</string>
								<key>Style</key>
								<dict>
									<key>fill</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>b</key>
											<string>0.501961</string>
											<key>g</key>
											<string>0.25098</string>
											<key>r</key>
											<string>0</string>
										</dict>
									</dict>
									<key>shadow</key>
									<dict>
										<key>Draws</key>
										<string>NO</string>
									</dict>
									<key>stroke</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>b</key>
											<string>0.501961</string>
											<key>g</key>
											<string>0.25098</string>
											<key>r</key>
											<string>0</string>
										</dict>
										<key>Draws</key>
										<string>NO</string>
										<key>Width</key>
										<real>5</real>
									</dict>
								</dict>
							</dict>
							<dict>
								<key>Bounds</key>
								<string>{{452.32397, 48}, {11.004, 12}}</string>
								<key>Class</key>
								<string>ShapedGraphic</string>
								<key>ID</key>
								<integer>144</integer>
								<key>Shape</key>
								<string>Circle</string>
								<key>Style</key>
								<dict>
									<key>fill</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>a</key>
											<string>0.9</string>
											<key>b</key>
											<string>0.501961</string>
											<key>g</key>
											<string>0.25098</string>
											<key>r</key>
											<string>0</string>
										</dict>
									</dict>
									<key>shadow</key>
									<dict>
										<key>Draws</key>
										<string>NO</string>
									</dict>
									<key>stroke</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>b</key>
											<string>0.501961</string>
											<key>g</key>
											<string>0.25098</string>
											<key>r</key>
											<string>0</string>
										</dict>
										<key>Draws</key>
										<string>NO</string>
										<key>Width</key>
										<real>5</real>
									</dict>
								</dict>
							</dict>
							<dict>
								<key>Bounds</key>
								<string>{{492.40729, 32}, {18.34, 20}}</string>
								<key>Class</key>
								<string>ShapedGraphic</string>
								<key>ID</key>
								<integer>145</integer>
								<key>Shape</key>
								<string>Circle</string>
								<key>Style</key>
								<dict>
									<key>fill</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>a</key>
											<string>0.85</string>
											<key>b</key>
											<string>0.501961</string>
											<key>g</key>
											<string>0.25098</string>
											<key>r</key>
											<string>0</string>
										</dict>
									</dict>
									<key>shadow</key>
									<dict>
										<key>Draws</key>
										<string>NO</string>
									</dict>
									<key>stroke</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>b</key>
											<string>0.501961</string>
											<key>g</key>
											<string>0.25098</string>
											<key>r</key>
											<string>0</string>
										</dict>
										<key>Draws</key>
										<string>NO</string>
										<key>Width</key>
										<real>5</real>
									</dict>
								</dict>
							</dict>
							<dict>
								<key>Bounds</key>
								<string>{{544.82629, 27}, {30, 30}}</string>
								<key>Class</key>
								<string>ShapedGraphic</string>
								<key>ID</key>
								<integer>146</integer>
								<key>Shape</key>
								<string>Circle</string>
								<key>Style</key>
								<dict>
									<key>fill</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>a</key>
											<string>0.8</string>
											<key>b</key>
											<string>0.501961</string>
											<key>g</key>
											<string>0.25098</string>
											<key>r</key>
											<string>0</string>
										</dict>
									</dict>
									<key>shadow</key>
									<dict>
										<key>Draws</key>
										<string>NO</string>
									</dict>
									<key>stroke</key>
									<dict>
										<key>Color</key>
										<dict>
											<key>b</key>
											<string>0.501961</string>
											<key>g</key>
											<string>0.25098</string>
											<key>r</key>
											<string>0</string>
										</dict>
										<key>Draws</key>
										<string>NO</string>
										<key>Width</key>
										<real>5</real>
									</dict>
								</dict>
							</dict>
							<dict>
								<key>Class</key>
								<string>Group</string>
								<key>Graphics</key>
								<array>
									<dict>
										<key>Bounds</key>
										<string>{{517.24127, 138}, {365, 26}}</string>
										<key>Class</key>
										<string>ShapedGraphic</string>
										<key>FitText</key>
										<string>Vertical</string>
										<key>Flow</key>
										<string>Resize</string>
										<key>FontInfo</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>b</key>
												<string>0.501961</string>
												<key>g</key>
												<string>0</string>
												<key>r</key>
												<string>0</string>
											</dict>
											<key>Font</key>
											<string>EurostileRegular</string>
											<key>Size</key>
											<real>22</real>
										</dict>
										<key>ID</key>
										<integer>148</integer>
										<key>Shape</key>
										<string>Rectangle</string>
										<key>Style</key>
										<dict>
											<key>fill</key>
											<dict>
												<key>Draws</key>
												<string>NO</string>
											</dict>
											<key>shadow</key>
											<dict>
												<key>Draws</key>
												<string>NO</string>
											</dict>
											<key>stroke</key>
											<dict>
												<key>Draws</key>
												<string>NO</string>
											</dict>
										</dict>
										<key>Text</key>
										<dict>
											<key>Align</key>
											<integer>2</integer>
											<key>Pad</key>
											<integer>0</integer>
											<key>Text</key>
											<string>{\rtf1\ansi\ansicpg1252\cocoartf1187
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 EurostileRegular;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue128;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qr

\f0\fs44 \cf2 Intelligent Multimedia Analysis In Java}</string>
											<key>VerticalPad</key>
											<integer>0</integer>
										</dict>
									</dict>
									<dict>
										<key>Bounds</key>
										<string>{{454.24127, 46}, {434, 115}}</string>
										<key>Class</key>
										<string>ShapedGraphic</string>
										<key>FitText</key>
										<string>YES</string>
										<key>Flow</key>
										<string>Resize</string>
										<key>FontInfo</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>b</key>
												<string>0.501961</string>
												<key>g</key>
												<string>0</string>
												<key>r</key>
												<string>0</string>
											</dict>
											<key>Font</key>
											<string>EurostileBold</string>
											<key>Size</key>
											<real>96</real>
										</dict>
										<key>ID</key>
										<integer>149</integer>
										<key>Shape</key>
										<string>Rectangle</string>
										<key>Style</key>
										<dict>
											<key>fill</key>
											<dict>
												<key>Draws</key>
												<string>NO</string>
											</dict>
											<key>shadow</key>
											<dict>
												<key>Draws</key>
												<string>NO</string>
											</dict>
											<key>stroke</key>
											<dict>
												<key>Draws</key>
												<string>NO</string>
											</dict>
										</dict>
										<key>Text</key>
										<dict>
											<key>Pad</key>
											<integer>0</integer>
											<key>Text</key>
											<string>{\rtf1\ansi\ansicpg1252\cocoartf1187
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 EurostileRegular;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue128;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs192 \cf2 OpenIMAJ}</string>
											<key>VerticalPad</key>
											<integer>0</integer>
										</dict>
										<key>Wrap</key>
										<string>NO</string>
									</dict>
								</array>
								<key>ID</key>
								<integer>147</integer>
							</dict>
						</array>
						<key>ID</key>
						<integer>134</integer>
						<key>LayerIndex</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>Layers</key>
				<array>
					<dict>
						<key>Lock</key>
						<string>NO</string>
						<key>Name</key>
						<string>Layer 1</string>
						<key>Print</key>
						<string>YES</string>
						<key>View</key>
						<string>YES</string>
					</dict>
				</array>
				<key>ZoomLevel</key>
				<real>1</real>
			</dict>
			<key>bundleId</key>
			<string>com.omnigroup.OmniGrafflePro</string>
			<key>refresh</key>
			<real>0.0</real>
			<key>serverAppName</key>
			<string>OmniGraffle</string>
			<key>serverName</key>
			<string>OmniGraffle</string>
			<key>version</key>
			<string>A</string>
		</dict>
	</array>
	<key>ImageList</key>
	<array>
		<string>image3.EPS</string>
		<string>image2.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2013-01-04 16:31:38 +0000</string>
	<key>Modifier</key>
	<string>Jonathon Hare</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>0</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>0</string>
		</array>
		<key>NSPaperName</key>
		<array>
			<string>string</string>
			<string>na-letter</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAx7X05TU2l6ZT1mZn2WgWQCgRgDhg==</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>0</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>0</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{719, 24}, {1201, 1154}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-227, -103}, {1066, 999}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>2</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
