# ----- Site Generation Related Ignores --

# scmpublisher
site/src/site/resources/bibliography.bib
site/src/site/resources/bibliography.txt
site/src/site/static-html/bibliography.html

# -----  Ignores .log files --------------
# tools/picslurper/picslurper.log is generated when `mvn install` is run
*.log

# -----  Maven Related Ignores -----------
target/

# after running `mvn eclipse:eclipse`
# core/core/maven-eclipse.xml file appeared
maven-eclipse.xml

# -----  Eclipse Related Ignores ---------
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# -------------- Java Related Ignores -------------------
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# All compiled .jar files should go in maven target/ folder
# *.jar #some jar files come for testing/dependencies
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore JavaDocs
doc/
