crawler {
	apikey="..."
	secret="..."
	outputdir="southampton-cc"
	queryparams {
		woeId="35356" //from http://www.flickr.com/services/api/explore/?method=flickr.places.find
		license="2" //from http://www.flickr.com/services/api/explore/?method=flickr.photos.licenses.getInfo
	}
	data {
	    info=false
	    exif=false
	}
	images {
		targetSize=["large", "original", "medium"]
	}
}

